@font-face {
  font-family: Anton;
  src: url(../fonts/Anton-Regular.ttf);
  font-weight: normal;
}

@font-face {
  font-family: ChakraPetch;
  src: url(../fonts/ChakraPetch-Regular.ttf) format('tff');
  font-weight: normal;
}

@font-face {
  font-family: Bitter;
  src: url(../fonts/Bitter-Italic.ttf);
}