<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/navbar.css">
    <link rel="stylesheet" href="../static/css/grid.css">
    <script src="../static/js/script.js"></script>

    <script>
        // Function to scroll to the top of the page
        function scrollToTop() {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        }
    
        // Show the back-to-top button when user scrolls down
        window.onscroll = function() {scrollFunction()};
    
        function scrollFunction() {
            if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                document.querySelector('.back-to-top').style.display = "block";
            } else {
                document.querySelector('.back-to-top').style.display = "none";
            }
        }
    </script>
</head>
<body>

    <!-- The logo of the website -->
    <div class="logo">

    </div>
    
    <!-- Start of the navbar -->
    <div class="topnav" id="myTopnav">
        
        <a href="index.html" class="active">Home</a>
        <a href="index.html">Technology</a>
        <a href="#about">Fashion</a>
        <a href="#help">sports</a>
        <a href="index2.html">Other</a>
        <a href="#help">About us</a>
        <!-- <a href="login.html">login</a>
        <a href="signup.html">sign up</a> -->
        <a href="javascript:void(0)" class="icon" onclick="myFunction()">
            <span></span>
            <span></span>
            <span></span>
        </a>
        
    </div>
    <!-- End of the navbar -->

    <!-- The grid that holds the elements of the body -->
    <div class="row" style="padding-bottom: 1000px;">

        <!-- The div to hold the first column -->
        <div class="col-3">

            <div class="container">
                {% if session['username'] %}
                    <h4>My Profile</h4>
                    <div class="profile">
                        <img src="{{ session['profile'] }}" alt="Profile picture" height="150">
                    </div>
                    <hr>
                    <div class="details">
                        <p>{{ session['username'] }}</p>
                        <p>Member</p>
                    </div>
                {% else %}
                    <h4>My Profile</h4>
                    <div class="profile">
                       <img src="../static/images/avatar3.png" alt="" height="150">
                    </div>
                    <hr>
                    <div class="details">
                        <p>Guest</p>
                        <p>Please log in to view your profile</p>
                        <a href="/login"><button class="btn btn-red">Login</button></a>
                        <a href="/signup"><button class="btn btn-blue">Sign up</button></a>
                    </div>
                {% endif %}
            </div>
            

            <!-- <div class="container">
                {% if session['username'] %}            
                <h4>My profile</h4>
                <div class="profile">
                    <img src="{{Profile}}" alt="Profile picture" height="150">
                </div>
                <hr>
                <div class="details">
                    <p>{{Username}}</p>
                    <p>Member</p>
                </div>
                {% else %}
                <h4>My profile</h4>
                <div class="profile">
                    <img src="{{Profile}}" alt="Profile picture" height="150">
                </div>
                <hr>
                <div class="details">
                    <p>{{Username}}</p>
                    <p>Member</p>
                {% endif %}
               
            </div>     -->
                

        </div>
        <!-- End of the first column(col-3) -->

        <!-- Start of the second column -->
        <div class="col-7">

            <div class="container-mid">
                <div class="top">
                    <img src="../static/images/avatar5.png" alt="" height="50">
                    <div class="info">
                        <b style="display: block;">John Doe</b>
                        <i style="display: block;">1 Min</i>
                    </div>
                    
                </div>
                <div class="middle">
                    <p>Lorem ipum dolor sit amet consectetur, adipisicing elit. Earum tempore amet a provident atque, enim ipsam harum animi, hic aliquam quod corrupti ea eum laboriosam, impedit itaque perspiciatis. Quos, facilis! Nostrum similique dolores ipsam at sapiente maxime est suscipit officiis cupiditate incidunt vero tempora quisquam enim ab odit consequatur perferendis dolore magnam labore qui quidem, vitae eaque beatae libero? Ducimus perferendis molestiae corrupti dolore aliquid veritatis, minus quis earum libero, soluta laudantium voluptas? Enim illum, laudantium consequatur fugiat non recusandae commodi sapiente quasi odio nostrum minima hic! Possimus illum accusantium consequuntur, aut facere excepturi neque magni, unde incidunt, voluptate rem?</p>
                </div>
                <div class="images">
                    <img src="../static/images/avatar2.png" alt="image1" width="49%">
                    <img src="../static/images/avatar3.png" alt="image2" width="49%">
                </div>
                <div class="reaction">
                    <button class="btn btn-orange">Like</button>
                    <button class="btn btn-red">Comment</button>
                </div>
            </div>

        </div>
        <!-- End of the second column(col-7) -->

        <!-- Start of the third column -->
        <div class="col-2">

            <div class="container">
            
                <h4>My profile</h4>
                <div class="profile">
                    <img src="../static/images/avatar5.png" alt="Profile picture" height="100">
                </div>
                <hr>
                <p>John Mumo</p>
                <p>Member</p>
            </div> 

        </div>
        <!-- End of the third column --> 
        

    </div>
    <a href="#" class="back-to-top" onclick="scrollToTop()"><img src="../static/images/icons/arrow-up.png" alt="" height="30px"></a>
    <!-- End of the grid -->

    <!-- Start of the footer -->
    <footer>
        <div class="col-3 contacts">
            <h4>Contact Us</h4>
            <img src="../static/images/icons/whatsapp.png" alt="" height="30">
            <b>: +254768304385</b><br>
            <img src="../static/images/icons/instagram.png" alt="" height="30">
            <b>: _bravoHub</b>

        </div>
        <div class="col-4 comments">
            <h4>Comments</h4>
            <p>We do value your feedback as it allows us to make this platform better for everyone</p>
            <form action="#">
                <label for="">Subject</label>
                <input type="text" name="subject" id="" class="form-input" placeholder="Example: User interface">
                <label for="">Description</label>
                <textarea name="description" id="" cols="15" rows="10" placeholder="Write here"></textarea>
                <input type="submit" value="Send" class="btn btn-blue">
            </form>
        </div>
        <div class="col-5">
            <h4>FAQs</h4>
            <p>This is the first version of the website and it is still under development.</p>
            <p>In the event you come across a design flaw or a bug please feel free to contact us through the communicatiion channels provided. We do hope that you fully enjoy our services</p>
        </div>

    </footer>
</body>
</html>