<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/grid.css">
  <link rel="stylesheet" href="../css/style.css">
</head>
<body>
  <div>
    <div class="col-3">

      <div class="container">

        <h4>My Profile</h4>
        <div class="profile"></div>
      </div>

    </div>

    <div class="col-6">

      <div class="container">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quisquam, cumque? Fuga perferendis voluptatum reiciendis adipisci in officiis animi corporis rerum consequatur. Commodi enim soluta optio nostrum blanditiis eos, voluptatum dolores libero quam aperiam vitae eaque debitis labore perferendis, assumenda reiciendis ipsum laboriosam mollitia fugit officiis fugiat nam nisi animi fuga! Tenetur exercitationem in dolorum perspiciatis eum vitae, consectetur sunt. Nemo aut quam aperiam recusandae inventore, ad accusantium animi cupiditate laborum eius libero cum repellendus minima? Numquam saepe commodi, voluptatum similique quas eaque accusamus nihil eius nulla provident sint voluptatibus nobis fuga delectus illum ab labore, officiis quibusdam veritatis! Maxime, architecto.</p>
      </div>
    </div>

    <div class="col-3">
      
      <div class="continer">
        <h4>For You</h4>
        <i>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit, vel doloribus! Dolorum distinctio facere repudiandae quas tempora, eos amet voluptatum voluptate impedit alias commodi possimus totam soluta ipsum tempore vel.</i>
      </div>
    </div>
  </div>
</body>
</html>