<!DOCTYPE html>
<html lang="en" id="theme" onload="setTheme()">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>InSight-login</title>
  <link rel="stylesheet" href="../static/css/style.css">

</head>

<body>
  
<div class="row-forms">

  <div class="container">

    <form action="" method="post">
      <h2>Login</h2>
      <p>Enter your login details below</p>
      
      <p style="color: red;">{{error}}</p>
      <label for="">Username</label>
      <input type="text" name="username" id="" class="form-input" placeholder="Enter your username " required>

      <label for="">Password</label>
      <div class="show-pass">
        <input type="password" id="pass" name="password" class="form-input" placeholder="Enter your password" required>        
        <button type="button" class="show" onclick="showpass()"><img id="show" src="../static/images/icons/show.png" alt="" height="25"></button>
      </div>
      
      <input type="submit" value="Login" class="btn btn-blue">
      <a href="/"><button type="button" class="btn btn-blue">Home</button></a>
      <p>Don't have an account?<a href="/signup">Sign up</a></p>
    </form>

  </div>

</div>

<script src="{{ url_for( 'static', filename='js/main.js')}}"></script>
<script src="{{ url_for( 'static', filename='js/theme.js')}}"></script>
</body>
</html>